@* Author: Bilha Ghedeon *@


@model BreadBudget.Models.TransactionForm

@{
    ViewData["Title"] = "AddTransaction";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTransaction</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

    <div class="container-fluid  my-5">
        <div class="display-4 text-center">Add Some Bread</div>
        <div class="row my-5 container">
            <div class="col-sm-6">
                <img class="rounded-circle" src="~/images/croissant.png">
            </div>
            <div class="col-6-sm align-content-center">
                <form class="p-a-1" asp-action="AddTransaction" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="All"></div>
                    <div id="fileError"></div>

                    <label for="TransactionType">Choose a Transaction Type:</label>
                    <div class="btn-group container-fluid p-0" data-toggle="buttons">

                        <label for="income" class="btn btn-outline-secondary ">
                            <input id="income" type="radio" asp-for="TransactionType" value="Income" />
                            Income
                        </label>
                        <label for="expense" class="btn btn-outline-secondary ">
                            <input id="expense" type="radio" asp-for="TransactionType" value="Expense" />
                            Expense
                        </label>

                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Transaction Name:</label>
                        <input class="form-control" asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount">Amount :</label>
                        <input class="form-control" asp-for="Amount" />
                    </div>
                    <div class="form-group">
                        <label>Select the category:</label>
                        <select class="form-control" asp-for="Category" asp-items="Html.GetEnumSelectList<BreadBudget.Models.TransactionForm.Categories>()">
                            <option selected="selected" value="">Choose an option</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note">Notes :</label>
                        <input class="form-control" asp-for="Note" />
                    </div>
                    <div class="form-group p-2 row">


                        <div class="p-0 custom-file">
                            <input asp-for="Receipt" class="form-control custom-file-input">
                            <label id="recieptLabel" class="custom-file-label">Choose Receipt Image...</label>
                        </div>

                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-dark" type="submit" id="btnSignUp">
                            Add Transaction
                        </button>
                    </div>
                </form>

                @section Scripts{
                    <script>




                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);


                                var allowedFiles = [".jpg", ".png"];

                                var errors = document.getElementById("fileError");
                                var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
                                if (!regex.test(fileName.toLowerCase())) {
                                    errors.innerHTML += "<p>Note: Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.<p>";
                                    return false;
                                }
                                else {
                                    errors.innerHTML = "";
                                }


                            });



                        });
                    </script>
                }


            </div>
        </div>



    </div>


    @*<div class="row h-100 justify-content-center align-items-center">
        <div class="col-6"><img class="rounded-circle"src="~/images/croissant.png"></div>
        <div class="col-6 p-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center display-4"><h4>Add Some Bread</h4></div>
                <div class="panel-body">
                    <form class="p-a-1" asp-action="AddTransaction" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="All"></div>
                        <label for="TransactionType">Choose a Transaction Type:</label>
                        <div class="btn-group container-fluid p-0" data-toggle="buttons">


                            <label for="income" class="btn btn-outline-secondary ">
                                <input id="income" type="radio" asp-for="TransactionType" value="Income" />
                                Income
                            </label>
                            <label for="expense" class="btn btn-outline-secondary ">
                                <input id="expense" type="radio" asp-for="TransactionType" value="Expense" />
                                Expense
                            </label>

                        </div>
                        <div class="form-group">
                            <label asp-for="Name">Transaction Name:</label>
                            <input class="form-control" asp-for="Name" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount">Amount :</label>
                            <input class="form-control" asp-for="Amount" />
                        </div>
                        <div class="form-group">
                            <label>Select the category:</label>
                            <select class="form-control" asp-for="Category" asp-items="Html.GetEnumSelectList<BreadBudget.Models.TransactionForm.Categories>()">
                                <option selected="selected" value="">Choose an option</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note">Notes :</label>
                            <input class="form-control" maxlength="100" asp-for="Note" />
                        </div>
                        <div class="form-group p-2 row">


                                <div class="p-0 custom-file">
                                    <input asp-for="Receipt" class="form-control custom-file-input">
                                    <label id="recieptLabel" class="custom-file-label">Choose Receipt Image...</label>
                                </div>

                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">
                                Add
                            </button>
                        </div>
                    </form>

                    @section Scripts{
                        <script>
                            $(document).ready(function () {
                                console.log("Document Loaded");
                                $(".custom-file-input").change(function () {
                                    var fileName = $(this).val().split("\\").pop();
                                    console.log(fileName);
                                    $(this).next(".custom-file-label").html(fileName);
                                    //https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
                                });
                            });
                        </script>
                    }


                </div>
            </div>
        </div>
        </div>*@


</body>
</html>


