@model BreadBudget.Models.TransactionForm

@{
    ViewData["Title"] = "AddTransaction";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTransaction</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6"><img src="~/images/croissant.png"></div>
            <div class="col-6 p-4">
            <div class="panel panel-success">
                <div class="panel-heading text-center display-4"><h4>Add A Transaction</h4></div>
                <div class="panel-body">
                    <form class="p-a-1" asp-action="AddTransaction" method="post">
                        <div asp-validation-summary="All"></div>
                            @foreach (var transaction in Enum.GetValues(typeof(TransactionForm.TransactionTypes)))
                            {
                                <label class="btn btn-outline-secondary m-5">
                                    <input id="radiobtn" type="radio" asp-for="TransactionType" value="@transaction" />
                                    @transaction
                                </label>
                            }
                            <div class="form-group">
                                <label asp-for="Name">Transaction Name:</label>
                                <input class="form-control" asp-for="Name" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Amount">Amount :</label>
                                <input class="form-control" asp-for="Amount" />
                            </div>
                            <div class="form-group">
                                <label>Select the category:</label>
                                <select class="form-control" asp-for="Category" asp-items="Html.GetEnumSelectList<BreadBudget.Models.TransactionForm.Categories>()">
                                    <option selected="selected" value="">Choose an option</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Note">Notes :</label>
                                <input class="form-control" asp-for="Note" />
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">
                                    Add
                                </button>
                            </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
