
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>All Transactions</title>
</head>
<body>
    <h4 style="text-align: center">Pick a Category</h4>
    <div class="card-group">
        @for (int i = 0; i < Model.Count; i++)
        {
            string link = String.Format("/images/app-images/{0}.png", Model[i]);

            <div>
                <form asp-action="TransactionByCategory" method="post">
                    <input name="category" value="@i" type="hidden" />
                    <div class="card text-center" style="width: 13rem; margin: 30px;">
                        <button style="background-color: white; border: none" type="submit">
                            <img class="card-img-top" src=@link />
                            <div class="card-body">
                                <p>@Model[i]</p>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        }
    </div>
</body>
</html>
