
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <title>AllReceipts</title>
</head>
<body>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a>
                <img class="img-fluid z-depth-1" src="~/images/3.png"
                     data-toggle="modal" data-target="#modal1">
            </a>

        </div>

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4"> 
            
            <!--Modal: Name-->
            <a>
                <img class="img-fluid z-depth-1" src="~/images/3.png"
                     data-toggle="modal" data-target="#modal6">
            </a>

        </div>

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Modal: Name-->
            <a>
                <img class="img-fluid z-depth-1" src="~/images/2.png" 
                     data-toggle="modal" data-target="#modal4">
            </a>

        </div>
        
        <!-- Grid column -->
    </div>
    
    <!-- Grid row -->
    <div class="row">
        
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
            
            <!--Modal: Name-->
            <a>
                <img class="img-fluid z-depth-1" src="~/images/2.png"
                     data-toggle="modal" data-target="#modal2">
            </a>
        </div>
        
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            
            <!--Modal: Name-->
            <a>
                <img class="img-fluid z-depth-1" src="~/images/1.png"
                     data-toggle="modal" data-target="#modal5">
            </a>
        </div>
        
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            
            <!--Modal: Name-->
            <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
            
            <!--Modal: Name-->
            <a>
                <img class="img-fluid z-depth-1" src="~/images/1.png" alt="video"
                     data-toggle="modal" data-target="#modal3">
            </a>
        </div>
        
        <!-- Grid column -->
    </div>
    
    <!-- Grid row -->
</body>
</html>
