
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>AllReceipts</title>
</head>
<body>
    <div class="card-group">
        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="0" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Housing</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="1" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Groceries</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="2" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Transportation</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="3" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Clothes</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-group">
        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="4" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Bills</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="5" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Food</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="6" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Health</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div>
            <form asp-action="Receipt" method="post">
                <input name="category" value="7" type="hidden" />
                <div class="card text-center" style="width: 13rem; margin: 30px;">
                    <button style="background-color: white; border: none" type="submit">
                        <img class="card-img-top" src="~/images/1.png" />
                        <div class="card-body">
                            <p>Micellaneous</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
