@model BreadBudget.Models.Transaction
@{
    ViewData["Title"] = "Conformation";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Thank you, @Model.TransactionType!</h1>
    <p> Your request has been sent in.</p>
    <p>Someone from IT will be in touch soon!</p>
</body>
</html>
