@* Author: Everyone *@
@* Designed by: Bilha Ghedeon *@

@model BreadBudget.Models.Account
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container h-100 ">

        <div class="card mb-3 my-5 border-0">
            <div class="row no-gutters align-items-center">
                <div class="col-md-3 ">
                    <img src="~/images/@Model.ProfilePicture" class="shadow round-img rounded-circle ml-auto img-fluid d-md-block" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body ">
                        <div class="display-3 ">Hello @Model.Name!</div>
                        <div class="display-4 ">Welcome to Bread Budget.</div>
                        <div class="lead">Make more bread than you can eat!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card-group">
                <div>

                    <div class="card text-center border-0 ">
                        <div class="col-12 container-fluid justify-content-center border-0">

                            <div class="row my-3 ">

                                <a href="/Home/AddTransaction" class="btn btn-outline-info btn-block btn" role="button" aria-pressed="true"> Add Transaction</a>
                            </div>
                            <div class="row my-3">
                                <a href="/Home/Breakdown/" class="btn btn-outline-info btn-block btn" role="button" aria-pressed="true">View Your Breakdown</a>
                            </div>
                            <div class="row my-3">
                                <a href="/Home/AllCategories/" class="btn btn-outline-info btn-block btn" role="button" aria-pressed="true">View All Transactions</a>
                            </div>
                            <div class="row my-3">

                                <a href="/Home/News" class="btn btn-outline-info btn-block btn" role="button" aria-pressed="true">The Daily Bread</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
