
@{
   
    Layout = "_BasicLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Errors</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6">
                <div class="row">
                    <h1 class="display-2">Error 404:</h1>
                </div>
                <div class="row">
                    <h5>Something went wrong! </h5>
                </div>
                <div class="row">
                    <a href="/Home/Index" class="btn btn-outline-dark">Return to Login</a>
                </div>
            </div>
            <div class="col-6">
                <img src="~/images/app-images/errorImage.png" />
            </div>
        </div>
    </div>
</body>
</html>