@* Author: Nevada Graci *@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bread Budget</title>
</head>
<body>
    <h1>Login</h1>
    <form>
        <div class="form-group">
            <label for="Username"></label>
            <input />
        </div>
        <div class="form-group">
            <label for="Password"></label>
            <input type="password" />
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <button class="btn btn-primary">Sign Up</button>
    </form>
</body>
</html>
