@* Author: Nevada Graci *@

@model  BreadBudget.Models.Account;
@{
    Layout = "_BasicLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container h-100">
        <div class="modal-dialog text-center">
            <div class="col-sm-9 main-section">
                <div class="modal-content shadow ">
                    <div class="col-12 user-img">
                        <img src="~/images/app-images/transactionImage.png" />
                    </div>
                    <div class="col-12 form-input">
                        <form asp-action="LogIn" method="post">
                            <h1 class="mb-2  text-center display-4">Login</h1>
                            <div asp-validation-summary="All"></div>
                            <div class="form-group text-center">
                                <label asp-for="Email" class="text-left">Email</label>
                                <div class="text-center">
                                    <input class="form-control" asp-for="Email" />
                                </div>
                            </div>
                            <div class="pb-3 form-group text-center">
                                <label asp-for="Password" class="text-left">Password</label>
                                <div class="text-center">
                                    <input type="password" class="form-control"  asp-for="Password" />
                                </div>
                            </div>
                            <div class="row text-center align-content-around my-3">
                                <div class="col-6 align-content-stretch"><button class="btn btn-outline-secondary btn-block w-100" type="submit">Login</button></div>
                                <div class="col-6"><a class="btn btn-outline-secondary btn-block" href="/Home/SignUp">Sign Up</a> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
