@* Author: Nevada Graci *@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form> 
                <h1 class="mb-5 text-center">Login</h1>
                <div class="form-group text-center">
                    <label class="text-left">Username</label>
                    <div class="text-center">
                        <input />
                    </div>
                </div>
                <div class="pb-3 form-group text-center">
                    <label class="text-left">Password</label>
                    <div class="text-center">
                        <input />
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <button class="btn btn-primary">Sign Up</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
