@model BreadBudget.Models.SignUp

@{
    ViewData["Title"] = "SignUp";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container h-100">
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h4>Sign Up</h4></div>
            <div class="panel-body">
                <img id="profilePicture"/>
                <form class="p-a-1" enctype="multipart/form-data" asp-action="SignUp" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="Name">Name:</label>
                        <input class="form-control" asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email:</label>
                        <input class="form-control" asp-for="Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password:</label>
                        <input type="password" class="form-control" asp-for="Password" />
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProfilePicture" class="col-sm-3 col-form-label">Profile Picture: </label>
                        <div class="col-sm-9">
                            <div class="custom-file">
                                <input asp-for="ProfilePicture" class="form-control custom-file-input">
                                <label class="custom-file-label">Choose Profile Picture...</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">
                            Sign Up!
                        </button>
                    </div>
                </form>
               

                @section Scripts{ 
                    <script>

                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                                // https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
                                $("#profilePicture").attr("src", URL.createObjectURL(event.target.files[0]));

                            });
                        });


                    </script>
                }
            </div>
        </div>
    </div>

</body>
</html>

